.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.linear-gradient{
  background: linear-gradient(90deg, #19D3AE -38.67%, #0FCFEC 129.78%);
}

.hero-container{
  background: linear-gradient(#fffffff2, #f7f4f4f5), url(../src/assets/images/chair.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-container{
  background: url(../src/assets/images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.appointment-container{
  background: linear-gradient(#5252524c, #2e2e2e28), url(../src/assets/images/appointment.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
